/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
	/* colors */

	/* primary */

	--clr-dark-blue: 233, 26%, 24%;
	--clr-lime-green: 136, 65%, 51%;
	--clr-bright-cyan: 192, 70%, 51%;

	/* neutral */

	--clr-grayish-blue: 233, 8%, 62%;
	--clr-light-grayish-blue: 220, 16%, 96%;
	--clr-very-light-gray: 0, 0%, 98%;
	--clr-light: 0, 0%, 100%;

	/* font-sizes */
	--fs-900: 6.25rem;
	--fs-800: 3.5rem;
	--fs-700: 2.5rem;
	--fs-600: 2rem;
	--fs-500: 1.75rem;
	--fs-400: 1.125rem;
	--fs-300: 1rem;
	--fs-200: 0.875rem;
	--fs-100: 0.75rem;

	/* font weight */
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;

	/* font-families */
	--ff-sans-normal: 'Public Sans', sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reset margins */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure,
picture {
	margin: 0;
}

/* set body defaults */

body {
	line-height: 1.5;
	min-height: 100vh;
	background-color: hsl(var(--clr-light));
	color: hsl(var(--clr-grayish-blue));
	font-family: var(--ff-sans-normal);
	font-size: var(--fs-400);
	margin: 0;
	text-rendering: optimizeSpeed;
}

/* Make images easier to work with */

img,
picture {
	max-width: 100%;
	display: block;
}

/* forms defaults */

input,
button,
textarea,
select {
	font: inherit;
}

/* specifics */
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.block {
	display: block;
}

.container {
	max-width: 80em;
	padding-inline: var(--pad-inline, 2rem);
	margin-inline: auto;
}

.hide {
	display: hidden;
}

.pointer {
	cursor: pointer;
}

.flow > *:where(:not(:first-child)) {
	margin-top: var(--flow-space, 1rem);
}

/* colors */
.bg-accent {
	background: linear-gradient(0.25turn, hsl(var(--clr-lime-green)), hsl(var(--clr-bright-cyan)));
}

.text-dark-blue {
	color: hsl(var(--clr-dark-blue));
}

/* typography */
.ff-sans {
	font-family: var(--ff-sans);
}

.fs-900 {
	font-size: var(--fs-900);
}
.fs-800 {
	font-size: var(--fs-800);
}
.fs-700 {
	font-size: var(--fs-700);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-400 {
	font-size: var(--fs-400);
}
.fs-300 {
	font-size: var(--fs-300);
}
.fs-200 {
	font-size: var(--fs-200);
}
.fs-100 {
	font-size: var(--fs-100);
}

.fw-300 {
	font-weight: 300;
}
.fw-400 {
	font-weight: 400;
}
.fw-700 {
	font-weight: 700;
}

.letter-spacing-1 {
	letter-spacing: 4.75px;
}
.letter-spacing-2 {
	letter-spacing: 2.7px;
}
.letter-spacing-3 {
	letter-spacing: 2.35px;
}

.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.capitalize {
	text-transform: capitalize;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}

/* ----------- */
/* Components  */
/* ------------*/

.nav-toggle {
	display: none;
}

.cta {
	border-radius: 1.5em;
	padding-block: 0.4em;
	padding-inline: 1.5em;
	width: max-content;
}

.cta a {
	color: hsl(var(--clr-light));
}

.grid-container {
	--gap: 2rem;
	place-items: center;
	padding-block: 4em;
}

.grid-container > *:nth-child(2) {
	background: url(./images/bg-intro-mobile.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

@media (max-width: 37.5em) {
	body {
		position: relative;
	}
	.cover[data-cover='true'] {
		z-index: 1;
		height: 100vh;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.5);
		width: 100vw;
		transition: transform 600ms ease-in-out;
	}

	.header {
		position: sticky;
		inset: 0;
		--pad-inline: 1rem;
		height: 4em;
		/* z-index: 9; */
		background-color: hsl(var(--clr-light));
		box-shadow: 1px -1px 35px -5px rgba(0, 0, 0, 0.75);
	}

	.brand-plus {
		position: relative;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.nav-toggle {
		display: block;
		position: absolute;
		right: 1%;
		background: transparent;
		background-image: url(./images/icon-hamburger.svg);
		background-repeat: no-repeat;
		aspect-ratio: 1;
		width: 1.5rem;
		border: 0;
		z-index: 99;
		transition: background-image 500ms ease-in-out;
	}

	.nav-toggle[aria-expanded='true'] {
		background-image: url(./images/icon-close.svg);
	}

	.primary-nav {
		position: fixed;
		inset: 8% 5% 0 5%;
		background: hsl(var(--clr-light));
		flex-direction: column;
		height: 35%;
		z-index: 999;
		padding: 0;
		padding-block: 2em;
		justify-content: space-around;
		align-items: center;
		opacity: 0;
		transition: opacity 400ms ease-in-out;
		--flow-space: 0.5rem;
		box-shadow: 1px -1px 35px 16px rgba(0, 0, 0, 0.75);
		border-radius: 0.2em;
	}

	.primary-nav[data-open='true'] {
		opacity: 1;
	}
	.primary-nav > * > a {
		color: hsl(var(--clr-dark-blue));
	}

	.header .cta {
		display: none;
	}

	.grid-container > *:nth-child(2) {
		order: -1;
	}
	.grid-container > *:first-child {
		padding-inline: 1.5em;
		text-align: center;
	}

	.why {
		text-align: center;
		padding-block: 4em;
		padding-inline: 1.5em;
		background: hsl(var(--clr-light-grayish-blue));
		--flow-space: 4rem;
	}

	.benefits {
		grid-template-columns: 1fr;
		--gap: 2rem;
	}

	.benefits > * {
		flex-direction: column;
		align-items: center;
	}

	.benefits > * > img {
		width: 4em;
	}

	.latest {
		/* text-align: center; */
		padding-inline: 1.5em;
		padding-block: 3em;
		--flow-space: 2rem;
	}

	.latest > h2 {
		text-align: center;
	}

	.latest-container {
		grid-template-columns: 1fr;
	}

	.latest-container > * {
		/* background-color: hsl(var(--clr-very-light-gray)); */
		box-shadow: 0 0 35px -10px rgba(0, 0, 0, 0.75);
		border-radius: 0.3em;
	}

	.article {
		--flow-space: 0.5rem;
		padding-block: 2em;
		padding-inline: 1.8em;
	}
}
